.add {
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  max-height: 100vh;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
}

#back {
  position: fixed;
  left: 2%;
  top: 10%;
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

h3 {
  padding-top: 10px;
}
